.accounting-date-links {
  margin: 0 auto;
  text-align: center;
}
.accounting-date-links li {
  display: inline-block;
  padding: 0 0.5em;
}

.accounting-date-links li:first-child a:before {
  content: '<< ';
}

.accounting-date-links li:last-child a:after {
  content: ' >>';
}

table .accounting-totals {
  font-weight: bold;
}
