<!DOCTYPE  html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>{{ document_no }}</title>
  <style type="text/css"> 
    body{color: black; font-family:DejaVu Sans, sans-serif; font-size:12px;}
    .all_page{margin:0 auto 25px; width:600px; padding:20px 40px;}
    .header {width: 100%; margin-bottom: 10px;}
    .header .title h1 {text-align: center;}
    h1{text-align:center;font-size:15px; margin:15px 0 0 0; padding:0;}
    h2{font-size:16px; font-weight:normal; margin:30px 0 5px 0; padding:0;}
    h3{font-size:15px; font-weight:normal; margin:0 0 5px 0; padding:0;}
    h4{text-align:center;font-size:15px; font-weight:normal; margin:20px 0; padding:0;}
    p{padding:0; margin:0 0 5px 0;}
    hr{clear:both;text-align:left;margin:20px 0;color:#000;border:0;background-color:#000;height:1px;}
    .footer hr {margin: 5px 0;}
    hr.hr_half{width:420px;}
    .data {text-align: left; width: 100%;}
    .invoice_tb{margin-top:20px;border-collapse:collapse;width:100%;}
    .invoice_tb td,.invoice_tb th{border:1px solid #000; padding:5px; vertical-align:top; width:33%;}
    .invoice_tb th{font-weight:normal; text-align:left; background:#EFEFEF;}
    .products_tb{margin-top:20px; margin-bottom: 15px; border-collapse:collapse; width:100%; font-size:10px;}
    .products_tb td{border-bottom:1px solid #000; padding:3px 5px; vertical-align:top;}
    .products_tb th{border-top:1px solid #000;padding:3px 4px;text-align:left; background:#EFEFEF;}
    .products_tb td.c_1,.products_tb th.c_1{text-align:right;}
    .products_tb .items-total td {font-weight: bold; border-bottom: 2px solid #000;}
    .total {margin:15px 5px 0 0;font-size:10px;}
    .total .total_h {text-align:right;font-weight:bold;}
    .total .total_d{text-align:left;}
    .summary {margin: 0 0 15px auto}
    footer {
      position: fixed;
      bottom: -30px;
      left: 45px;
      width: 600px;
      text-align: center;
      font-size: 10px;
    }
    #page-number:after {
      content: counter(page, decimal);
    }
  </style>
</head>
<body>
  <div class="all_page">
    <table class="header"><tr>
      <td class="logo" style="width: 250px; vertical-align: top;" ><img src="{{ logo_url }}" alt="." style="width: 150px;"/></td>
      <td class="title">
        <div class="b_s2">
          <h1 style="text-align: left;">FAKTURA</h1>
          <p>nr: {{ document_no }}</p>
          <p>&nbsp;</p>
          <p>Data wystawienia: {{ issue_date|date('d-m-Y') }}</p>
          {% if sale_date %}
            <p>Data sprzedaży: {{ sale_date|date('d-m-Y') }}</p>
          {% endif %}
          <p>Termin płatności: {{ due_date|date('d-m-Y') }}</p>
          <p>Forma płatności: przelew</p>
          <p>Nr konta: {{ seller.account_no }}</p>
          <p>Do zapłaty: {{ totals.gross|number_format(2, '.', ' ') }} PLN</p>
        </div>
      </td>
    </tr></table>
    
    <hr />

    <table class="data"><tr>
      <td class="left" style="width: 250px;">
        <h2>Nabywca: </h2>
          <p>{{ buyer.name }}</p>
          {% if buyer.tin %}
            <p>NIP: {{ buyer.tin }}</p>
          {% endif %}
          <p>{{ buyer.address }}</p>
          <p>{{ buyer.postal_code }} {{ buyer.city }}</p>
          {% if buyer.country %}
            <p>{{ buyer.country }}</p>
          {% endif %}
      </td>
      <td class="right">
        <h2>Sprzedawca:</h2>
        <div class="b_s1">
          <p>{{ seller.name }}</p>
          {% if seller.tin %}
            <p>NIP: {{ seller.tin }}</p>
          {% endif %}
          <p>{{ seller.address }}</p>
          <p>{{ seller.postal_code }} {{ seller.city }}</p>
          {% if seller.country %}
            <p>{{ seller.country }}</p>
          {% endif %}
        </div>
      </td>
    </tr></table>
            
    <table class="products_tb">
      <tr>
        <th>L.p.</th>
        <th>Nazwa&nbsp;pozycji</th>
        <th class="c_1">Cena&nbsp;netto<br />[PLN]</th>
        <th class="c_1">Jedn.</th>
        <th class="c_1">Ilość</th>
        <th class="c_1">Wartość&nbsp;netto<br />[PLN]</th>
        <th class="c_1">Podatek&nbsp;VAT<br />[%]</th>
        <th class="c_1">Kwota&nbsp;VAT<br />[PLN]</th>
        <th class="c_1">Wartość&nbsp;brutto<br />[PLN]</th>
      </tr>
      
      {% for item in items %}
        <tr>
          <td>{{ item.no }}</td>
          <td>{{ item.name }}</td>
          <td class="c_1">{{ item.net_price|number_format(2, '.', ' ') }}</td>
          <td class="c_1">{{ item.unit }}</td>
          <td class="c_1">{{ item.quantity }}</td>
          <td class="c_1">{{ item.net_total|number_format(2, '.', ' ') }}</td>
          {% if item.vat %}
            <td class="c_1">{{ item.vat|number_format(2, '.', ' ') }}%</td>
            <td class="c_1">{{ item.vat_amount|number_format(2, '.', ' ') }}</td>
          {% else %}
            <td class="c_1">not applicable</td>
            <td class="c_1">not applicable</td>
          {% endif %}
          <td class="c_1">{{ item.gross_total|number_format(2, '.', ' ') }}</td>
        </tr>
      {% endfor %}
      
      <tr class="items-total">
        <td></td>
        <td>SUMA</td>
        <td class="c_1"></td>
        <td class="c_1"></td>
        <td class="c_1"></td>
        <td class="c_1">{{ totals.net|number_format(2, '.', ' ') }}</td>
        <td class="c_1"></td>
        <td class="c_1">{{ totals.vat|number_format(2, '.', ' ') }}</td>
        <td class="c_1">{{ totals.gross|number_format(2, '.', ' ') }}</td>
      </tr>
      {% if totals.vat %}
        <tr class="no-border"><td class="no-border" colspan="9">&nbsp;</td></tr>
        {% for vat_rate, subtotals in totals.vat_summary %}
          <tr>
            <td colspan="4"></td>
            <td class="c_1">{% if vs_title_displayed is not defined %}w tym:{% endif %}</td>
            <td class="c_1">{{ subtotals.net|number_format(2, '.', ' ') }}</td>
            <td class="c_1">{{ vat_rate|number_format(2, '.', ' ') }}%</td>
            <td class="c_1">{{ subtotals.vat|number_format(2, '.', ' ') }}</td>
            <td class="c_1">{{ subtotals.gross|number_format(2, '.', ' ') }}</td>
          </tr>
          {% set vs_title_displayed = 1 %}
        {% endfor %}
      {% endif %}
    </table>
    <table class="summary">
      <tr>
        <td class="total_h"><b>Do zapłaty:</b></td>
        <td class="total_d"><b>{{ totals.gross|number_format(2, '.', ' ') }} PLN</b></td>
      </tr>
      <tr>
        <td class="total_h"><b>Słownie:</b></td>
        <td class="total_d"><b>{{ totals.words }} PLN</b></td>
      </tr>
    </table>
    {% if totals.vat == 0 %}
      <p>&nbsp;</p>
      <p>ZWOLNIENIE Z VAT</p>
      <p>Wykonawca nie jest płatnikiem podatku VAT.</p>
    {% endif %}
  </div>
  <footer>
    <hr style="margin: 5px 0;" />
    <div>
      <!-- Don't modify the page number and total pages span elements.-->
      Strona <span id="page-number"></span> / <span id="total-pages"></span><br />Data wydania: {{ issue_date|date('d-m-Y') }}
    </div>
  </footer>
</body>
